<div class="contents row">
  <div class="container">
    <h3>再入力する</h3>
    <%= form_with model: @body, url: body_path, local: true do |f| %>
      <%= render 'error_messages', model: @body %>
      <%= f.text_field :age, placeholder: "年齢" %>
      <%= f.text_field :tall, placeholder: "身長" %>
      <%= f.submit "再計算する" %>
    <% end %>
  </div>
</div>
