<div class="contents row">
  <div class="container">
    <h3>再入力する</h3>
    <%= form_with model: @body_nutrient_fat, url: fat_path, local: true do |f| %>
      <%= render 'error_messages', model: @body_nutrient_fat %>
      <p> 年 </p> 
      <div class='input-birth-wrap'>
        <%= raw sprintf(
                  f.date_select(
                    :day,
                    class:'select-box',
                    id:"date",
                    use_month_numbers: true,
                    prompt:'---',
                    start_year: 2019,
                    end_year: Time.now.year,
                    date_separator: '%s'),
                  "<p> 月 </p>", "<p> 日 </p>") + "<p> </p>" %>
      </div>
      <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"select-box", id:"gender-category"}) %>
      <%= f.text_field :age, placeholder: "年齢" %>
      <%= f.text_field :tall, placeholder: "身長" %>
      <%= f.text_field :weight, placeholder: "体重" %>
      <%= f.text_field :body_fat, placeholder: "体脂肪率" %>
      <%= f.text_field :protein, placeholder: "タンパク質" %>
      <%= f.text_field :fat, placeholder: "脂質" %>
      <%= f.text_field :carbohydrate, placeholder: "炭水化物" %>
      <%= f.text_field :goal_body_fat, placeholder: "目標体脂肪率" %>
      <%= f.submit "再計算する" %>
    <% end %>
  </div>
</div>
